body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.login-container {
    background: linear-gradient(to right, #202062, #06625d);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

#login-title {
    text-align: center;
    color: #ffffff;
}

form {
    display: flex;
    flex-direction: column;
    align-content: center;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.checkbox-container label {
    margin-left: 5px;
}

button{
    border: none;
}

.login-btn {
    background-color: #4CAF50;
    align-content: center;
    cursor: pointer;

    &:hover{
        background-color: rgba(0, 0, 0, 0.25);
    }
}

.register-link{
    text-align: center;
}

p{
    color: white;
}

label{
    color: white;
}

#r-link{
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
    color: #0091c7;

    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

